/* Fonts */
:root {
    --font-default: Poppins;
    --font-primary: Roboto, sans-serif;
}

/* Colors */
:root {
    --color-default: #A7AABD;
    --color-primary: #588EF7;
    --color-secondary: #434656;

    --bs-primary: #588EF7;
    --plyr-color-main: #588EF7;
}


/*------------------------------------------------
# General
------------------------------------------------*/
body {
    font-family: var(--font-default);
    color: var(--color-default);
    overflow-x: hidden;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}
a:hover {
    color: #94a6c8;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
}



/*------------------------------------------------
# Preloader with Bootstrap Progress Bar
------------------------------------------------*/
.loader {
    position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1999;
    background-color: #FFFFFF;
    color: var(--color-secondary);
}

.loader-container {
	/* width: 600px;
	height: 200px; */
    width: 60vw;
    height: 20vh;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	text-align: center;
}

/* Desktop Loader */
@media screen and (min-width: 900px) {
    .loader h3 {
        font-family: 'Roboto';
        font-size: 6vh;
    }

    .loader h5 {
        font-family: 'Roboto';
        font-size: 2.5vh;
        padding-bottom: 2vh;
    }

    .loader h6 {
        font-family: 'Roboto';
        font-size: 1.5vh;;
    }

    .loader p {
        font-size: 0.75vh;
        padding-top: 2px;
    }
}

.progress {
    height: 3px;
    width: 40%;
    margin: auto;
}

.progress-bar {
    color: var(--color-primary);
}

/* Desktop Loader */
@media screen and (min-width: 900px) {
    .loader h3 {
        font-family: 'Roboto';
        font-size: 6vh;
    }

    .loader h5 {
        font-family: 'Roboto';
        font-size: 2.5vh;
        padding-bottom: 2vh;
    }

    .loader h6 {
        font-family: 'Roboto';
        font-size: 1.5vh;;
    }

    .loader p {
        font-size: 0.75vh;
        padding-top: 2px;
    }
    .progress {
    height: 3px;
    width: 40%;
    margin: auto;
}
}


/* Mobile Loader */
@media screen and (max-width: 900px) {
    .loader h3 {
        font-family: 'Roboto';
        font-size: 3vh;
    }

    .loader h5 {
        font-family: 'Roboto';
        font-size: 1.5vh;
        padding-bottom: 2vh;
    }

    .loader h6 {
        font-family: 'Roboto';
        font-size: 1vh;
    }

    .loader p {
        font-size: 0.5vh;
        padding-top: 2px;
    }

    .progress {
        height: 3px;
        width: 80%;
        margin: auto;
    }
}



/*------------------------------------------------
# Navbar Desktop
------------------------------------------------*/

.navbar-scroll {
    padding: 0;
    background-color: rgba(67, 70, 86, 0.4);
}

.navbar-brand {
    font-size: 1rem;
    padding-bottom: 0;
}

.navbar .navbar-nav .nav-link:hover {
    color: #FFFFFF;
    border-top: 1px solid white;
}

.navbar a.active {
    color: #FFFFFF;
    border-top: 1px solid white;
}

@media (max-width: 991px) {
    .navbar-scroll {
        background-color: rgba(67, 70, 86, 0.4);
    }

    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
        color: #fff !important;
    }
    .navbar button {
        color: #fff;
    }
}

.navbar-scroll .navbar-brand,
.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
    color: #fff;
}

.navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .8);
}

.navbar-scrolled .navbar-brand,
.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
    color: var(--color-secondary);
}

.navbar-scrolled {
    background-color: rgb(67, 70, 86, 0.5);
}


/*------------------------------------------------
# Hero Header
------------------------------------------------*/

section#home.hero {
    position: relative;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    padding: 0 0 !important;
    padding-top: 0 !important;
}


.hero video {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img#heroImage {
    position: absolute;
    height: 100vh;
    overflow: hidden;
    top: 0;
    bottom: 0;
}

.plyr {
    height: 100vh;
}

/*------------------------------------------------
# Section & Section header
------------------------------------------------*/

section {
    padding: 80px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #F6F9FF;
}

.section-header {
    text-align: center;
    padding-bottom: 70px;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 700;
    position: relative;
    color: #2e3135;
}

@media (min-width: 1199px) {
    .section-header p {
        max-width: 60%;
    }
}

/*------------------------------------------------
# About Section
------------------------------------------------*/

.carousel-item {
    min-height: 400px;
}

.about h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.about h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
}

.about .icon-box {
    margin-top: 40px;
}

.about .icon-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    margin-right: 25px;
    font-size: 28px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    line-height: 0;
    box-shadow: 0px 2px 30px rgb(0 0 0 / 8%);
    background-color: #fff;
    /* transition: 0.3s; */
}

.about .icon-box:hover i {
    background-color: var(--color-primary);
    color: #fff;
}

.about .icon-box h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.about .icon-box h4 a {
    color: #000000;
    transition: 0.3s;
}

.about .icon-box h4 a:hover {
    color: var(--color-primary);
}

.about .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}


/*------------------------------------------------
# Property Section
------------------------------------------------*/

.property h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.property h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
}

.property .icon-box {
    margin-top: 40px;
}

.property .icon-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    margin-right: 25px;
    font-size: 28px;
    width: 56px;
    height: 56px;
    border-radius: 4px;
    line-height: 0;
    box-shadow: 0px 2px 30px rgb(0 0 0 / 8%);
    background-color: #fff;
    /* transition: 0.3s; */
}

.property .icon-box:hover i {
    background-color: var(--color-primary);
    color: #fff;
}

.property .icon-box h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}

.property .icon-box h4 a {
    color: #000000;
    transition: 0.3s;
}

.property .icon-box h4 a:hover {
    color: var(--color-primary);
}

.property .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

.img {
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.modalImageContainer {
    position: relative;
    overflow: hidden;
}

.modalImageContainer img {
    max-height: 80vh;
}
.modalImageContainer:hover img {
    transform: scale(1.5);
}

.modal-l {
    max-width: fit-content;
}


/*------------------------------------------------
# Details Section
------------------------------------------------*/
.details h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-secondary);
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.details h4 {
    color: var(--color-secondary);
    font-weight: 600;
}


.details ul {
    list-style-type: none;
    pointer-events: auto;
}

.details .list {
    padding: 0;
    text-align: left;
    color: var(--color-default);
}

.details .wrapper {
    margin:auto;
    border-bottom: 1px dotted var(--color-secondary);
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Details to change */
div#details {
    height: 90vh;
    width: 100%;
    padding-top: 5em;
}

h1.asking-price {
    display: inline-block !important;
    color: var(--color-secondary);
    font-size: 4rem !important;
    font-weight: 800;
    border: 3px solid #FFD580;
    margin: auto;
    width: auto;
}

div.card {
    text-align: center;
}

div.info {
    height: min-content;
}

div.price {
    width: -webkit-fill-available;
}

#posession {
    color: var(--color-default) !important;
}

/*------------------------------------------------
# Maps Section
------------------------------------------------*/

.maps {
    background-color: #FFFFFF !important;
    height: fit-content;
    width: 100%;
    padding-bottom: 0;
}

.maps h3 {
    font-size: 3em;
    text-align: center;
    color: var(--color-secondary);
}

iframe#map-box-street {
    display: block;
}

iframe#map-box-sat {
    display: none;
}

/*------------------------------------------------
# Contact Section
------------------------------------------------*/

.dark-text {
    color: #000000 !important;
}

section.contact h2 {
    color: var(--color-secondary) !important;
}

.contact-item {
    background: #fff;
    position: relative;
    transition: all 0.4s;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/*
